@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #e1e4e8;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#card-section {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #f5f7fa;
}
.profile-card {
  width: 496px;
  border-radius: 8px;
  background-color: #e1e4e8;
  padding: 30px;
}
.profile-image-container {
  display: flex;
  justify-content: center;
}
#profile-image {
  border-radius: 50%;
}
#profile-name {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  font-size: xx-large;
  font-weight: 700;
}
#role {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: large;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #e1e4e8;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.profile-bio {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 26px;
}

.button {
  font-size: medium;
  border-radius: 6px;
  font-weight: 600;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all 0.5s ease;
  color: #1d4ed8;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}
.btn-container {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 576px) {
  .profile-card {
    width: auto;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .footer {
    position: relative;
  }
}
